{
    ox-sizing: border-box;  
   margin: 0;
   padding: 0;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background: rgb(217, 187, 156);
    color: rgb(0, 0, 0);
}
.site-header{
     color: rgba(65, 8, 8, 0.97);
    padding: 2rem;
    text-align: center;
    style="font-size: 100px;
   
}
.foto1 { 
   
  height: 150px;
  width:300px 100xp;
 
                     
}
 



.card h1{
margin-bottom: 1rem;
    color: rgba(77, 59, 10, 0.884);
}
   



.card h2{
    margin-bottom: 1rem;
    color: rgba(74, 56, 6, 0.918);
}

.card p{
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.btn{
    display: inline-block;
    padding: 0.6rem 1.rem ;
    background: #62524a89;
    border-radius: 5px;
    color: rgb(63, 13, 13);
    justify-content: center;
}

.card a{
    display: flex;
    text-align: center;
}


.site-footer{
    text-align: center;
    padding: 1rem;
    color: rgb(48, 63, 77);
}